<h1>Checkout</h1>
<%= form_with model: @order, url: place_order_cart_index_path, local: true do |f| %>
  <div class="field">
    <%= f.label :address, "Street Address" %>
    <%= f.text_field :address, value: @customer.street, required: true %>
  </div>

  <div class="field">
    <%= f.label :city, "City" %>
    <%= f.text_field :city, value: @customer.city, required: true %>
  </div>

  <div class="field">
    <%= f.label :house_number, "House Number" %>
    <%= f.text_field :house_number, value: @customer.house_number, required: true %>
  </div>

  <div class="field">
    <%= f.label :province, "Province" %>
    <%= f.collection_select :province_id, Province.all, :id, :name, { prompt: 'Select Province' }, class: 'form-select' %>
  </div>

  <%= f.submit "Place Order", class: 'btn btn-primary' %>
<% end %>