<h1>Sign Up</h1>

<%= form_with model: @customer, url: signup_path, local: true do |form| %>
  <% if @customer.errors.any? %>
    <div style="color: red;">
      <ul>
        <% @customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

   <!-- Address fields -->
  <div>
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :street %>
    <%= form.text_field :street %>
  </div>

  <div>
    <%= form.label :house_number %>
    <%= form.text_field :house_number %>
  </div>

  <div>
    <%= form.label :province_id %>
    <%= form.collection_select :province_id, Province.all, :id, :name, prompt: "Select Province" %>
  </div>

  <%= form.submit "Sign Up" %>
<% end %>