<%= form_with model: [:admin, product], local: true do |f| %>
  <div>
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :category_name, prompt: 'Select Category' %>
  </div>
  <div>
    <%= f.label :product_name %>
    <%= f.text_field :product_name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :price %>
    <%= f.number_field :price, step: 0.01 %>
  </div>
  <div>
    <%= f.label :size %>
    <%= f.text_field :size %>
  </div>
  <div>
    <%= f.label :colour %>
    <%= f.text_field :colour %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>