<h1>Product Details</h1>

<p><strong>Product Name:</strong> <%= @product.product_name %></p>
<p><strong>Category:</strong> <%= @product.category.name %></p>
<p><strong>Description:</strong> <%= @product.description %></p>
<p><strong>Price:</strong> $<%= @product.price %></p>
<p><strong>Size:</strong> <%= @product.size %></p>
<p><strong>Color:</strong> <%= @product.colour %></p>

<% @product.images.each do |image| %>
  <%= image_tag image %>
<% end %>

<%= link_to 'Back to Products', admin_products_path %>