<h1>All Products</h1>

<div class="filters">
  <h3>Filters</h3>
  <%= link_to 'On Sale', products_path(on_sale: true) %> |
  <%= link_to 'New Products', products_path(is_new: true) %> |
  <%= link_to 'Recently Updated', products_path(recently_updated: true) %>
</div>

<!-- Search form -->
<%= form_tag(products_path, method: :get) do %>
  <%= label_tag :search, "Search for products:" %>
  <%= text_field_tag :search, params[:search], placeholder: "Enter product name" %>

  <!-- Category filter dropdown -->
  <%= label_tag :category, "Filter by category:" %>
  <%= select_tag :category, options_for_select(Category.all.pluck(:category_name, :category_name), params[:category]), include_blank: true %>

  <%= submit_tag "Search" %>
<% end %>

<div class="products">
  <% @products.each do |product| %>
    <div class="product">
      <h3><%= link_to product.product_name, product_path(product) %></h3>
      <p><%= product.description.truncate(100) %></p>
      <p><%= number_to_currency(product.price) %></p>
    </div>
  <% end %>
</div>

<div class="pagination">
  <%= paginate @products %>
</div>